body {
  background-image: radial-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.4)), url(/39g.png?a);
  background-size: cover;
  background-position: center;
  backdrop-filter: hue-rotate(323deg);
}

img[src="radilogo.jpg"] {
  border-radius: 9999px;
}
